@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar {
    /* background-color: #D5FF40; */
    background-color: rgb(161, 221, 112);
}

.navbar li{
    font-weight: 300;
}

